* {
    box-sizing: border-box
}

*, :after, :before {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0
}

:root {
    --color-shockingly-green: #0ae448;
    --color-just-black: #0e100f;
    --color-surface-white: #fffce1;
    --color-pink: #fec5fb;
    --color-shockingly-pink: #f100cb;
    --color-orangey: #ff8709;
    --color-lilac: #9d95ff;
    --color-lt-green: #abff84;
    --color-blue: #00bae2;
    --color-grey: gray;
    --color-surface75: #bbbaa6;
    --color-surface50: #7c7c6f;
    --color-surface25: #42433d;
    --gradient-macha: linear-gradient(114.41deg, var(--color-shockingly-green) 20.74%, var(--color-lt-green) 65.5%);
    --gradient-orange-crush: linear-gradient(111.45deg, var(--color-orangey) 19.42%, #f7bdf8 73.08%);
    --gradient-lipstick: linear-gradient(165.72deg, #f7bdf8 21.15%, #cd237f 81.93%);
    --gradient-purple-haze: linear-gradient(153.58deg, #f7bdf8 32.25%, #2f3cc0 92.68%);
    --gradient-skyfall: linear-gradient(131.77deg, #0a157a 30.82%, #15bfe4 81.82%);
    --gradient-emerald-city: linear-gradient(166.9deg, var(--color-shockingly-green) 53.19%, #0085d0 107.69%);
    --gradient-summer-fair: linear-gradient(144.02deg, var(--color-blue) 4.56%, var(--color-pink) 72.98%);
    --color-core-green: #dfffd1;
    --color-core-green-lt: #f3ffee;
    --color-core-gradient: radial-gradient(89.08% 84.62% at 16.54% 78.46%, #fbfefa 0%, #c9f6b4 39.58%, #abff84 77.6%, #2fee65 100%);
    --color-core-button-gradient: linear-gradient(114.41deg, #0ae448 20.74%, #abff84 65.5%);
    --color-core-heading-gradient: linear-gradient(180deg, #d6ffc3, rgba(214, 255, 195, 0)), #f3ffee;
    --color-core-intro-gradient: linear-gradient(144.5deg, #e8ffdd 65.09%, #7dea7b 122.73%), linear-gradient(311.31deg, #7ef89e 36.08%, #e5ffd9 106.98%);
    --color-text-purple: #d2ceff;
    --color-text-purple-lt: #dfdcff;
    --color-text-gradient: radial-gradient(129.03% 100% at 120.97% 81.45%, #dfdcff 27.08%, #a69eff 100%);
    --color-svg-tangerine: #ffe3c7;
    --color-svg-tangerine-lt: #fff0e0;
    --color-svg-gradient: radial-gradient(70.77% 70.77% at 0% 70.77%, #ffd9b0 0%, #fd9f3b 80.73%, #ff8709 100%);
    --color-svg-heading-gradient: linear-gradient(180deg, #ffbd77, rgba(254, 197, 251, 0)), #ffe4c7;
    --color-ui-blue: #bef3fe;
    --color-ui-blue-lt: #e1faff;
    --color-ui-blue-codeblk: #f6feff;
    --color-ui-text-gradient: linear-gradient(168.89deg, #fec5fb -21.3%, #00bae2 89.88%);
    --color-ui-code-blocktext-gradient: linear-gradient(142.91deg, #cef6ff 18.75%, #a6efff 54.93%);
    --color-ui-gradient: radial-gradient(78.77% 78.77% at 71.71% 30.77%, #f0fcff 0%, #9bedff 67.21%, #98ecff 76.04%, #5be1ff 84.9%, #00bae2 94.79%);
    --color-ui-gradient-background: linear-gradient(137.1deg, #ecfcff 27.5%, #a6efff 94.09%);
    --color-ui-gradient-flip-background: radial-gradient(140% 190% at 117.54% 131.12%, #f0fcff 0%, #9bedff 25.52%, #98ecff 42.71%, #5be1ff 60.94%, #00bae2 94.79%);
    --color-scroll-pink: #ffd7fd;
    --color-scroll-pink-lt: #ffe9fe;
    --color-scroll-gradient: linear-gradient(317.42deg, #ffe9fe 10.4%, #ff96f9 83.03%);
    --club-gradient: linear-gradient(153deg, #d2ffe4 1.53%, #0ae448 74.91%, #00c237 96.25%);
    --ease-in: cubic-bezier(.755, .05, .855, .06);
    --ease-out: cubic-bezier(.23, 1, .32, 1);
    --ease-in-out: cubic-bezier(.86, 0, .07, 1);
    --ease-in-quart: cubic-bezier(.5, 0, .75, 0);
    --ease-out-quart: cubic-bezier(.175, .79, .38, .905);
    --ease-in-out-quart: cubic-bezier(.645, .045, .355, 1)
}

body {
    background-color: var(--color-just-black);
    color: var(--color-surface-white);
}

.home-hero {
    min-height: 100vh;
    padding-bottom: 8.75rem;
    padding-top: 13.75rem;
    overflow: hidden;
}

.container {
    max-width: 120rem;
    margin: auto;
    padding-left: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
    padding-right: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
}

.home-hero__animate {
    display: flex;
    visibility: hidden;
}

.home-hero__animate span {
    display: block;

}

.home-hero__heading span {
    position: relative;
}

.home-hero__heading > span span.clip {
    overflow: hidden;
}

.home-hero__heading > span span {
    display: block;
}

.home-hero__animate .n > span > span > span:last-child,
.home-hero__animate .t > span > span:last-child {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    visibility: hidden;
}

.home-hero__anything .a span:last-child,
.home-hero__anything .n span:last-child {
    bottom: 0;
    left: 0;
    position: absolute;
}

.home-hero__flair {
    font-size: 0;
    position: absolute;
    z-index: -1;
}

.home-hero__flair img {
    height: 100%;
    width: 100%;
}

.home-hero__flair--circles,
.home-hero__flair--windmill {
    height: max(1.9375rem, min(6.86084vw + 0.32949rem, 8.5625rem));
    top: max(-5.75rem, min(-4.78964vw - 0.00242718rem, -1.125rem));
    width: max(1.9375rem, min(6.86084vw + 0.32949rem, 8.5625rem));
}

.home-hero__flair--windmill {
    left: max(0.3125rem, min(0.711974vw + 0.145631rem, 1rem));
}

.home-hero__flair--circles {
    left: max(0.3125rem, min(0.323625vw + 0.23665rem, 0.625rem));
    visibility: hidden;
}

.home-hero__flair--worm {
    bottom: max(-4.375rem, min(-2.589vw - 1.2682rem, -1.875rem));
    height: max(3.125rem, min(8.34952vw + 1.16808rem, 11.1875rem));
    left: 0;
    transform: rotate(25deg);
    width: max(1.875rem, min(4.85437vw + 0.737257rem, 6.5625rem));
}

.home-hero__flair--bolt {
    height: max(4.375rem, min(12.2977vw + 1.49272rem, 16.25rem));
    left: 0;
    top: max(0.0625rem, min(0.323625vw - 0.0133495rem, 0.375rem));
    visibility: hidden;
    width: max(2.1875rem, min(6.14887vw + 0.746359rem, 8.125rem));

}

.home-hero__flair--star {
    bottom: max(0.5625rem, min(0.970874vw + 0.334951rem, 1.5rem));
    height: max(2.5rem, min(7.11974vw + 0.831311rem, 9.375rem));
    left: max(0.25rem, min(0.582524vw + 0.113471rem, 0.8125rem));
    visibility: hidden;
    width: max(2.5rem, min(7.11974vw + 0.831311rem, 9.375rem));
}


.home-hero__heading {
    font-size: max(5.125rem, min(13.3333vw + 2rem, 18rem));
    font-weight: 600;
    letter-spacing: -.02em;
    line-height: .9;

}

.home-hero__animate .t .clip {
    width: 500%;
}

.home-hero__anything {
    position: relative;
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
}

.home-hero__animate .n > span > span > span,
.home-hero__animate .t > span > span {
    backface-visibility: hidden;
}


.home-intro__inner {
    overflow: hidden;
    padding-bottom: max(4.5rem, min(11.8447vw + 1.72391rem, 15.9375rem));
    padding-top: max(4rem, min(6.40777vw + 2.49818rem, 10.1875rem));
    position: relative;
}

@media only screen and (min-width: 48rem) {
    .home-intro__inner:before {
        background-color: var(--color-surface25);
        content: "";
        height: 0.0625rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.home-intro__copy {
    padding-top: max(3.6875rem, min(0.323625vw + 3.61165rem, 4rem));
}

.body-l,
.body-xl {
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.2;
}

.body-xl {
    font-size: max(2rem, min(3.17152vw + 1.25667rem, 5.0625rem));
}

.home-intro__highlight span {
    display: inline-block;
    position: relative;
}

.home-intro__flair-wrapper {
    bottom: 40%;
    height: max(7.4375rem, min(9.89583vw + 2.6875rem, 14.5625rem));
    left: 75%;
    position: absolute;
    width: max(6.8125rem, min(14.4965vw - 0.145833rem, 17.25rem));
    z-index: -1;
}

.home-intro__flair-wrapper .home-intro__line-flower {
    bottom: 0;
    left: 0;
    max-height: 11.875rem;
    max-width: 11.875rem;
    position: absolute;
}

@media only screen and (min-width: 77.5rem) {
    .home-intro__flair-wrapper .home-intro__flair-one {
        display: block;
        max-height: 1.9375rem;
        max-width: 1.9375rem;
        position: absolute;
        right: max(-3.125rem, min(3.23625vw - 3.8835rem, 0rem));
        top: 2.5rem;
    }
}

@media only screen and (min-width: 77.5rem) {
    .home-intro__flair-wrapper .home-intro__flair-two {
        display: block;
        max-height: 1rem;
        max-width: 1rem;
        position: absolute;
        right: 2.625rem;
        top: max(-3.125rem, min(3.23625vw - 3.8835rem, 0rem));
    }
}

@media only screen and (min-width: 77.5rem) {
    .home-intro__flair-wrapper .home-intro__flair-three {
        bottom: 6.625rem;
        display: block;
        left: 0;
        max-height: 1rem;
        max-width: 1rem;
        position: absolute;
    }
}


@media only screen and (min-width: 120rem) {
    .home-intro__flair-wrapper {
        bottom: 20%;
    }
}

@media only screen and (min-width: 40rem) {
    .home-intro__flair-wrapper {
        bottom: 15%;
        left: 57%;
    }
}
